rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() { return request.auth != null; }
    
    match /users/{userId} {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && request.auth.uid == userId;
    }
    
    match /nutritionReports/{reportId} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }
    
    match /studentJournals/{journalId} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }
    
    match /alerts/{alertId} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }
  }
}